.closed{
	display: none;
}

.add-new-todo{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background-color: rgba(0,0,0,0.2);
	overflow: scroll;
}

.add-new-todo-dialogue{
	position: absolute;
	top: 120px;
	left: calc( 50% - 250px );
	width: 500px;
	border-radius: 6px;
	background-color: #fff;
	box-sizing: content-box;
	box-shadow: 0 0 52px 0 #888;
}
.add-new-todo-dialogue div, .add-new-todo-dialogue button{
	position: relative;
	width: calc( 100% - 50px );
	margin: 5px;
	margin-left: 25px;
}