.add-todo-button{
    position: relative;
    left: 20px;
    top: 6px;
    float: left;
}

.add-todo-button .add-button{
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    font-weight: 600;
    border-style: none;
    border-radius: 22px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 0px #888;
}

.add-todo-button .add-button:hover{
    background-color: blue;
    box-shadow: 0 0 10px 0px #888;
}

.close{
    font-size: 24px;
    color: #aaa;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}