.tasks-bar{
    width: inherit;
    position: relative;
    -webkit-transition: height 300ms; /* Safari */
    transition: height 300ms linear;
}
.tasks-time-title{
    width: inherit;
    position: relative;
    font-size: 24px;
    padding: 12px;
    margin:10px;
    font-weight: bold;
}
.tasks{
    position: relative;
    overflow-y: hidden;
    width: inherit;
}
.show{
    max-height:300px;
    -webkit-transition: max-height 300ms; /* Safari */
    transition: max-height 300ms linear;
}
.hide{
    max-height: 0;
    -webkit-transition: max-height 300ms; /* Safari */
    transition: max-height 300ms linear;
}
.tasks-time-title:hover{
    cursor: pointer;
    color:blue;
}
